openai-whisper
cohere
gTTS
soundfile
ffmpeg-python
torch
torchaudio
numpy
IPython


openai-whisper>=20231117
cohere>=5.5.8
gTTS>=2.5.1
soundfile>=0.12.1
ffmpeg-python>=0.2.0
torch>=2.2.0
torchaudio>=2.2.0
numpy>=1.26.0
ipython>=8.0.0
